html,
body {
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

header {
  font-size: 4em;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

button {
  width: 200px;
  border: 2px solid black;
  padding: 20px;
  background: none;
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3em;
  transition-duration: 500ms;
}

button:hover {
  background-color: whitesmoke;
  color: black;
}
