html,
body {
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

header {
  font-size: 4em;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#download-btn {
  background-color: #00acee;
  font-weight: 700;
}

.label {
  font-weight: 700;
  font-size: x-large;
}
