:root {
  --pad: 20px 20px 12px 20px;
  --background: #000000;
  --color1: #ffffff;
  --color2: #8899a6;
  --twitter-blue: #00acee;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

#tweet-wrapper {
  width: 490px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: normal;
}

#tweet-container {
  display: flex;
  flex-direction: column;
  padding: var(--pad);
}

#tweet-header {
  display: flex;
  flex-direction: row;
  /*   background: red; */
  align-items: center;
}

#profile-pic {
  max-width: 100%;
  max-height: 36px;
  border-radius: 50%;
  margin-right: 9px;
}

#sub-header {
  /*   background: green; */
}

#author {
  max-width: 100%;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#author-name-container {
  /* max-width: 40%; */
  max-width: 300px;
  display: flex;
  flex-direction: row;
}

#verified-badge-container {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  align-self: center;
}

#verified-badge-container > img {
  height: 100%;
}

#username {
  font-size: 14px;
  color: var(--color2);
}

#twitter-icon {
  width: 28px;
  height: 28px;
  display: block;
  align-self: flex-start;
  /* background-color: yellow; */
  margin-left: auto;
}

#twitter-icon > img {
  width: 100%;
}

#tweet-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 14px;
  color: var(--color2);
}

#heart-icon {
  width: 19px;
  height: 19px;
  margin-right: 4px;
  /* background-color: yellow; */
}

#heart-icon > img {
  width: 100%;
  margin: auto;
}

#like-count {
  color: inherit;
}

#tweet-time {
  margin-left: 12px;
}

#customization-wrapper {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  align-self: stretch;
  /* justify-self: stretch; */
}
