:root {
  --pad: 20px 20px 12px 20px;
  --background: #000000;
  --color1: #ffffff;
  --color2: #8899a6;
  --twitter-blue: #00acee;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

#tweet-wrapper {
  display: none;
  max-width: 500px;
  width: 100%;
  /* max-width: 490px;
  width: 98%; */
  line-height: 1.4;
  font-size: 16px;
  font-weight: normal;
  /* margin-top: 24px; */
}

#loading-indicator {
  margin: 28px;
}

#error-message {
  margin: 28px;
  font-size: 14px;
  color: red;
}

#tweet-container {
  display: flex;
  flex-direction: column;
  padding: var(--pad);
}

#tweet-header {
  display: flex;
  flex-direction: row;
  /*   background: red; */
  align-items: center;
}

#profile-pic {
  max-width: 100%;
  max-height: 36px;
  border-radius: 50%;
  margin-right: 9px;
}

#author {
  max-width: 100%;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#author-name-container {
  /* max-width: 40%; */
  max-width: 300px;
  display: flex;
  flex-direction: row;
}

#verified-badge-container {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  align-self: center;
}

#verified-badge-container > img {
  height: 100%;
}

#username {
  font-size: 14px;
  color: var(--color2);
}

#twitter-icon {
  width: 28px;
  height: 28px;
  display: block;
  align-self: flex-start;
  /* background-color: yellow; */
  margin-left: auto;
}

#twitter-icon > img {
  width: 100%;
}

.special-text {
  color: var(--twitter-blue);
}

#tweet-image-container {
  height: fit-content;
  margin-bottom: 6px;
}

#tweet-image {
  width: 100%;
  border-radius: 5px;
}

#tweet-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 14px;
  color: var(--color2);
}

#heart-icon {
  width: 19px;
  height: 19px;
  margin-right: 4px;
}

#heart-icon > img {
  width: 100%;
  margin: auto;
}

#like-count {
  color: inherit;
}

#tweet-time {
  margin-left: 12px;
}

@media only screen and (max-width: 500px) {
  #tweet-container {
    padding: 17.5px 17.5px 10.5px 17.5px;
  }

  #tweet-wrapper {
    font-size: 14px;
  }

  #username,
  #tweet-footer {
    font-size: 12.2px;
  }

  #profile-pic {
    max-height: 31.5px;
    margin-right: 7.8px;
  }

  #verified-badge-container {
    width: 14px;
    height: 14px;
    margin-left: 3.5px;
  }

  #twitter-icon {
    width: 24.5px;
    height: 24.5px;
  }

  #tweet-image-container {
    margin-bottom: 5.25px;
  }

  #heart-icon {
    width: 16.6px;
    height: 16.6px;
    margin-right: 3.5px;
  }

  #tweet-time {
    margin-left: 10.5px;
  }
}

@media only screen and (max-width: 450px) {
  #tweet-container {
    padding: 16.25px 16.25px 9.75px 16.25px;
  }

  #tweet-wrapper {
    font-size: 13px;
  }

  #username,
  #tweet-footer {
    font-size: 11.35px;
  }

  #profile-pic {
    max-height: 29.25px;
    margin-right: 7.25px;
  }

  #verified-badge-container {
    width: 13px;
    height: 13px;
    margin-left: 3.35px;
  }

  #twitter-icon {
    width: 22.75px;
    height: 22.75px;
  }

  #tweet-image-container {
    margin-bottom: 4.85px;
  }

  #heart-icon {
    width: 15.4px;
    height: 15.4px;
    margin-right: 3.25px;
  }

  #tweet-time {
    margin-left: 9.75px;
  }
}

@media only screen and (max-width: 400px) {
  #tweet-container {
    padding: 15px 15px 9px 15px;
  }

  #tweet-wrapper {
    font-size: 12px;
  }

  #username,
  #tweet-footer {
    font-size: 10.5px;
  }

  #profile-pic {
    max-height: 27px;
    margin-right: 6.75px;
  }

  #verified-badge-container {
    width: 12px;
    height: 12px;
    margin-left: 3px;
  }

  #twitter-icon {
    width: 21px;
    height: 21px;
  }

  #tweet-image-container {
    margin-bottom: 4.5px;
  }

  #heart-icon {
    width: 14.25px;
    height: 14.25px;
    margin-right: 3px;
  }

  #tweet-time {
    margin-left: 9px;
  }
}
