html {
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

body {
  /* overflow: auto; */
  margin: 0;
}

/* * {
    outline: 1px solid red;
  } */

header {
  font-size: 4em;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
