html {
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

body {
  /* overflow: auto; */
  margin: 0;
}

/* * {
  outline: 1px solid red;
} */

header {
  font-size: 4em;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

#wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

#download-btn {
  background-color: #00acee;
  font-weight: 700;
}

#customization-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.control-container {
  display: flex;
  flex-direction: row;
  color: black;
  padding-left: 12px;
  padding-right: 12px;
}

#like-control {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

label {
  margin: 10px;
}

label > span {
  color: black;
  /* margin: 10px; */
}

/* For changing defaults of Material CSS colors */
input[type="radio"]:checked + span::after,
input[type="checkbox"].filled-in:checked + span:not(.lever):after {
  background-color: #00acee;
  border: 2px solid #00acee;
}
