<!DOCTYPE html>
<html>
  <head>
    <title>Snap Bot</title>
    <link rel="stylesheet" href="../public/includes/home.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <header id="app-header">Snap Bot</header>
    <div id="wrapper">
      <form action="">
        <input
          id="tweet-link"
          type="text"
          name="tweet"
          placeholder="Tweet Link"
        />
        <div id="error-message">Something went wrong!</div>
        <button
          id="tweet-search-btn"
          class="btn-large waves-effect waves-light"
          type="submit"
          name="action"
        >
          SEARCH
        </button>
      </form>
    </div>
  </body>
</html>
